.bg-footer {
  background: #000;
  color: #fff;
  position: relative;
}
.bg-footer::before {
  content: "";
  display: block;
  width: 50px;
  height: 46px;
  background: url("/imagens/deco.svg") no-repeat center;
  position: absolute;
  top: -20px;
  left: 5.25rem;
}

.footer h3 {
  margin: 50px 10px;
  font-size: 1.125rem;
  align-self: center;
  color: #aaa;
}
.footer-cont {
  margin: 50px 10px;
}
.footer-cont li {
font-size: 1.175rem;
line-height: 2.5rem;
}
.footer-final {
  font-size: 1.175rem;
  color: #aaa;
  margin: 20px 10px;
}
@media (max-width:550px) {
  .bg-footer .container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .footer h3 {
    margin: 20px 10px;
  }
  .footer-cont {
    margin: 20px 10px;
  }
  .footer-final {
    font-size: .875rem;
  }
}