body {
  margin: 0;
  font-family: "Playfair Display", serif;
  color: #141414;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
h1,
h2,
h3,
a,
p {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* gerais */
.body {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  padding: 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}
.subtitulo {
  font-size: 8rem;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
  line-height: 1;
  padding: 10px;
}
