.header {
  display: flex !important;
  padding: 40px 20px;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.header-menu a {
  font-size: 1.25rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: #141414;
  display: block;
  background: #ebebeb;
  border-radius: 5px;
}
@media (max-width:800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header h1 {
    text-align: center;
  }
}